@use '../globals/index' as v;



.container__nav {
    background-color: v.$second;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
        font-size: 2.8rem;
        padding: 2rem;
        color: white;
    }

    div {
        display: flex;
        flex-direction: column;
        text-align: center;

        a {
            padding: 3rem;
            color: white;
        }

        a:hover {
            background-color: v.$first;
            color: black;
        }
    }
}

.container__big {
    display: flex;
    justify-content: center;
}

.container__small {
    width: 90%;
    text-align: center;
    -webkit-box-shadow: 0px 12px 7px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 12px 7px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 12px 7px 10px rgba(0, 0, 0, 0.75);
}


.img__text {
    h1 {
        margin-top: 5rem;
        font-size: 2rem;
    }
}

.container__product {
    margin-top: 2rem;
    h2{
        margin: 0;
        padding: .5rem;
    }
    img{
        padding: .5rem;
    }
    p {
        margin: 0;
        padding: .5rem;
    }
    p:last-child{
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
    }
}

img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}











@media (min-width: 768px) {
    .img__text {
        h1 {
            font-size: 3rem;
        }
        svg{
            min-width: 10rem;
        }
    }
    .name__cake{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .container__product {
        align-items: center;
    }

    img {
        object-fit: cover;
        width: 100%;
        max-height: 200px;
    }

    .container__nav {
        flex-direction: row;
        justify-content: space-around;

        h1 {
            font-size: 3.8rem;
        }

        div {
            display: flex;
            flex-direction: row;
        }

        a {
            padding: 2.8rem;
        }
    }

    .container__small {
        width: 70%;
    }
}